{% extends "includes/base.html" %}
{% block content %}
    <h1>{{ blogpost.title }}</h1>
    <p>{{ blogpost.content }}</p>
    {% if blogpost.preview_image %}
        <img src="{{ blogpost.preview_image.url }}" alt="Превью">
    {% else %}
        <p>Изображение отсутствует</p>
    {% endif %}
    <p>Дата создания: {{ blogpost.created_at }}</p>
    <p>Опубликовано: {{ blogpost.is_published }}</p>
    <p>Количество просмотров: {{ blogpost.view_count }}</p>
    <a href="{% url 'blog:blogpost_update' blogpost.pk %}">Редактировать</a>
    <a href="{% url 'blog:blogpost_delete' blogpost.pk %}">Удалить</a>
{% endblock %}
